.grid {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: aqua;
}

.layout {
  background: aqua;
}

.cards-flex-container {
  display: flex;
  align-items: flex-start;
  margin-top: 2%;
}
.cards-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 35px;
  margin-left: 10%;
}
